doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UniCryp

        // Connect Style.css
        link(rel="stylesheet", href="css/style.css") 

        // Reset Css
        link(rel="stylesheet", href="css/normalize.css")

        // Connect bootstrap
        link(rel="stylesheet", href="css/bootstrap-grid.min.css")

        // Fonts Montserrat
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,300&display=swap")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com")
    body 
        header.header 
            .everything-header
                .container
                    .row
                        .col-8
                            .logo 
                                img(src="image/logo.svg", alt="alt")
                                h1.logo__title UniCryp<br>
                                    span.logo__text мы заботимся о вашей безопасности
                        .col-4
                            .reg_auth
                                a.sign(href="#") Войти
                                a.reg(href="#") Регестрация            
            .navbar
                .container 
                    .row
                        .col
                            .hideMenu 
                                a.hideMenu__items(href="#") Генерация пароля 
                                a.hideMenu__items(href="#") Генерация QR-code
                                a.hideMenu__items(href="#") Хеширование пароля
                        .col-4
                            .info
                                a.info__items(href="#") Главная
                                a.info__items(href="#") Контакты
                                a.info__items(href="#") О нас
        section.checkcomplexity
            .checkcomplexity-info
                h1.checkcomplexity-info__title Проверьте пароля на надежность
                p.checkcomplexity-info__text Введите ваш пароль, и проверьте, соостветствует ли он<br>критериям информационной безопасности
            .checkcomplexity-input-strenght
                form.form-strenght 
                    input.form-strenght__input(type="text" placeholder="CNFbXaYeqBcJFSSx")
                    //- span.strenght-input__text.strenght CNFbXaYeqBcJFSSx
            .checkcomplexity-result-strenght
                h1.strenght__title Уровень сложности:
                .strenght__scale
                    .strenght__scale_progress
                button.btn.strenght__checked Проверить
        footer.footer 
            .container 
                .row 
                    .col-3 
                        .scroll-up 
                            img(src="image/scroll-up.svg", alt="scroll-up")
                        .logo 
                            .row.logo__main
                                img.logo__image(src="image/logo.svg", alt="logo")
                                h1.logo__title UniCryp 
                            p.logo__text мы заботимся о вашей<br> безопасности
                    .col-2 
                        nav.programs 
                            h1.programs__title Программы
                            li.programs__items
                                a(href="#") Генерация пароля
                            li.programs__items 
                                a(href="#") Генерация QR-code
                            li.programs__items
                                a(href="#") Хеширование пароля
                    .col-1 
                        nav.contacts 
                            li
                                a(href="#") Главная
                            li 
                                a(href="#") Контакты
                            li
                                a(href="#") О нас
                    .col-2
                        nav.accaunt
                            h1.accaunt__title Аккаунты
                            li.accaunt__items
                                a(href="#") Войти
                            li.accaunt__items
                                a(href="#") Регистрация
                    .col-4
                        .email
                            p.email__text Хотите получать уведомления о самых свежих обновлениях и новостях
                            input.email__input(type="text" placeholder="E-mail")
                            button.btn.email__btn Подписаться
                            p.email__subtext По всем вопросам: 
                                a(href="#") help@unicryp.com
            .container 
                .subfooter 
                    a(href="#")
                        img.subfooter__items(src="image/logo-vk.svg", alt="vk")
                    a(href="#")
                        img.subfooter__items(src="image/logo-inst.svg", alt="inst")
                    a(href="#")
                        img.subfooter__items(src="image/logo-tw.svg", alt="tw")
                    a(href="#")
                        img.subfooter__items(src="image/logo-fc.svg", alt="fc")
                    a(href="#")
                        img.subfooter__items(src="image/logo-gh.svg", alt="gh")
// Connect JavaScript
script(src="js/script.js")

// Connect jQuer
script(src="js/jquery-3.6.0.min.js")